body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(228, 228, 228);
    font-size: 20px;
}
header{
    background-color: white;
}
.header-all{
    padding: 1rem 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}
.alto-logo img{
    height: 100%;
}
.profile-picture{
    height: 60%;
}
.root{
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
}
.left-section{
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
}
.search-section{
    width: 100%;
}
.search-div{
    text-align: center;
}
.search-div input{
    width: 40%;
    font-size: 1.5rem;
    padding: .3rem 1rem;
    border: none;
    outline: none;
}
.search-filters{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.filter{
    border-right: 2px solid #5e626d;
    padding: 0 1rem;
    font-size: 1.5rem;
    color: black;
}
.filter input{
    transform: scale(1.5);
    background: transparent;
}
.filter-5{
    border: none;
}
aside{
    width: 15%;
    display: flex;
    min-width: 286px;
    background-color: white;
}
.side-bar{
    width: 100%;
}
.side-btn{
    width: 100%;
    text-align: left;
    padding: 1rem;
    transition: .3s;
    font-size: 1.5rem;
    background-color:white;
    border: none;
}
.side-btn i{
    width: 20%;
}
.side-btn:hover{
    background-color: #415e8e;
    color: white;
}
.users-search{
    width: 100%;
    padding: 3rem 0;
}
.users-search table{
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}
table{
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    -webkit-box-shadow: 0px 0px 33px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 33px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 33px -3px rgba(0,0,0,0.5);
}
table tr:hover{
    background-color: rgb(206, 206, 206);
}
.table-titles{
    font-weight: bold;
    border-bottom: 2px solid black;
    font-size: 1.2rem;
    color: #757575;
}
table td{
    border-bottom: #bebebe 1px solid;
    font-weight: bold;
}
.table-titles td{
    border-bottom: #3b3b3b solid 2px;
    padding-bottom: 1rem;
}
.table-titles:hover{
    background-color: white;
}
table button{
    width: 100%;
    padding: 1rem 0;
    background:transparent;
    border: none;
    text-align: left;
    font-size: 1rem;
}
table button:hover{
    background-color: rgb(131, 131, 131);
}
.table-details-titles{
    padding: 1rem 0;
    font-weight: bold;
}
.users-details{
    width: 100%;
}
.users-details-table{
    max-width: 760px;
    margin: 0 auto;
    width: 50%;
}
.users-details-table td{
    font-weight: bold;
}
.users-details-actions{
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 50px 0;
    max-width: 760px;
    margin: 0 auto;
}
.users-actions-btn{
    padding: 1rem 2rem;
    color: white;
    background-color: #415e8e;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: .3s;
}
.users-actions-btn:hover,
.users-actions-btn:focus{
    background-color: #32486b;
    cursor: pointer;
}
.block-btn{
    background-color: #FF3366;
}
.block-btn:hover,
.block-btn:focus{
    background-color: #af2548;
}
.transaction-details{
    width: 100%;
}
.transaction-date{
    display: flex;
}
.transaction-details-table{
    width: 100%;
}
.transaction-details-table td{
    padding: 1rem 0;
    font-weight: bold;
}
.transaction-details-table i{
    font-size: 1.5rem;
    color: #759cff;
}
.transaction-details-price{
    color: #FF3366;
}