html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #202b42;
    font-size: 20px;
}
h1{
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
    padding: 2rem 0;
}
header{
    background-color: white;
}
.header-all{
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 1rem;
}
.header-nav{
  padding: 0;
}
.white-line{
    height: 2rem;
    width: 100%;
    background-color: white;
}
.button-section{
    background-image: url(imgs/pexels-visit-almaty-848618trim.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.button-div{
    display: flex;
}
.operator-image{
    width: 40%
}
.operator-image img{
width: 100%;
vertical-align: middle;
transform: translateX(-20px);
object-fit: cover;
max-width: 761px;
}
.button-text{
    display: flex;
    flex-direction: column;
    color: white;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    justify-content: space-evenly;
}
.button-text h1{
    padding-top: 0;
    font-size: 2.5rem;
}
.staff-button{
    width: 40%;
    padding: 1rem;
    margin: 0 auto;
    background-color: white;
    color: #202b42;
    border: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: .3s;
    border-radius: 5px;
}
.staff-button:hover,
.staff-button:focus{
    background-color: #202b42;
    color: white;
    cursor: pointer;
}
.about-us-section{
    background: linear-gradient(rgba(32, 43, 66, 0), rgb(32, 43, 66)), url(imgs/pexels-pixabay-371649reverse.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.about-us{
    color: white;
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 7rem 0;
    max-width: 1141px;
}
.about-us h1{
    font-size: 2.5rem;
}
.about-us-text{
    width: 60%;
    font-size: 1.5rem;
}
.about-us-image{
    width: 30%;
}
.about-us-image img{
    width: 100%;
    max-width: 280px;
    height: 100%;
    object-fit: cover;
}
footer{
    box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.274);

}
.footer-line{
    width: 30%;
    height: 3px;
    background-color: white;
    margin: 0 auto;
}
.social-div-flex{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    font-weight: 200;
    font-size: 1rem;
    color: white;
    align-items: center;
    padding: 7rem 0;
}
.social-div-left{
    display: flex;
    flex-direction: column;
}
.social-div-left a{
    color: white;
    text-decoration: none;
    padding-bottom: 1rem;
}
.social-div-left a:hover,
.social-div-left a:focus{
    text-decoration: underline;
}
.social-div-icons i{
    font-size: 1.5rem;
    padding-right: .5rem;
}
.social-div-icons i:focus,
.social-div-icons i:hover{
    color: #365385;
    cursor: pointer;
}
.social-div-apps img{
    height: 3rem;
    transition: .3s;
}
.social-div-apps img:hover,
.social-div-apps img:focus{
    transform: scale(0.95, 0.95);
    cursor: pointer;
}
.social-div-right{
    text-align: right;
}


@media (max-width:1281px) { 
    .button-text h1{
        padding-top: 0;
        font-size: 2rem;
    }
    .staff-button{

        padding: .8rem;
        font-size: 1.3rem;
    }
}
@media (max-width:1025px) { 
    .staff-button{
        padding: .5rem;
        font-size: 1rem;
    }
    .button-text h1{
        padding-bottom: 0;
    }
}
@media (max-width:641px)  { 
        .header-all{
            display: flex;
            flex-direction: column;
        }
        .button-div{
    
            padding: 3rem 0;
        }
        .button-text h1{
            font-size: 2rem;
            padding-bottom: 2rem;
        }
        .button-text{
            width: 80%;
        }
        .staff-button{
            width: 100%;
            padding: 1rem 0rem;
            margin-bottom: 4rem;
        }
        .operator-image{
            display: none;
        }
        .about-us-text{
            width: 100%;
        }
        .about-us-image{
            display: none;
        }
        .social-div-flex{
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
        .social-div-right p{
            text-align: center;
        }
        .social-div-apps{
            text-align: center;
        }
}

